<template>
  <div class="index-wrapper">
    <h1 class="floating-title">Select a company from the list</h1>
  </div>
</template>

<script>
  export default {
    name: 'index'
  }
</script>

<style lang="scss" scoped>
.index-wrapper {
  position: relative;
}
.floating-title {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;

  @media screen and (max-width: 768px) {
    position: static;
    top: unset;
    left: unset;
    -webkit-transform: unset;
    -ms-transform: unset;
    transform: unset;
  }
}
</style>
