<template>
  <div class="main-header">
    <router-link to="/">
      <img class="brand-logo" src="../assets/logo.svg" alt="logo">
    </router-link>

    <div class="search-bar-wrapper">
      <input class="search-bar" v-model="searchTerm" @input="$emit('update:searchQuery', searchTerm)" type="text" placeholder="Search">
      <i class="input-clear-btn" @click="clearSearchTerm()" :class="{'visible': searchTerm}">×</i>
    </div>

    <div class="btns-wrapper">
      <button class="sys-btn" @click="loadShipments()">Load</button>
      <button class="sys-btn" @click="saveShipments()">Save</button>
    </div>

    <div class="hamburger-menu" @click="toggleSidebar()" ref="hamburgerMenu">
      <div></div>
    </div>
  </div>
</template>

<script>
  export default {
    name: 'MainHeader',
    props: {
      searchQuery: String
    },
    data() {
      return {
        searchTerm: this.searchQuery
      }
    },
    methods: {
      loadShipments() {
        this.$emit('load')
      },
      saveShipments() {
        this.$emit('save')
      },
      clearSearchTerm() {
        this.searchTerm = ''
        this.$emit('update:searchQuery', this.searchTerm)
      },
      toggleSidebar() {
        this.$refs.hamburgerMenu.classList.toggle('active')
        this.$emit('toggleSidebar')
      }
    }
  }
</script>

<style lang="scss">
@import "@/stylesheets/_variables.scss";

.hamburger-menu {
  display: none;

  @media screen and (max-width: 768px) {
    cursor: pointer;
    width: 35px;
    height: 35px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
  }
}
.hamburger-menu div,
.hamburger-menu div:after,
.hamburger-menu div:before {
  background-color: #2c3e50;
  border-radius: 6px;
  width: 35px;
  height: 5px;
  -webkit-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s;
}
.hamburger-menu div:before,
.hamburger-menu div:after {
  content: "";
  position: absolute;
}
.hamburger-menu div:before {
  -webkit-transform: translateY(-200%);
  -ms-transform: translateY(-200%);
  transform: translateY(-200%);
}
.hamburger-menu div:after {
  -webkit-transform: translateY(200%);
  -ms-transform: translateY(200%);
  transform: translateY(200%);
}
.hamburger-menu.active div {
  background: transparent;
}
.hamburger-menu.active div:before {
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
.hamburger-menu.active div:after {
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.main-header {
  height: $header_height;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  border-bottom: 2px solid #e8e8e8;
  padding: 0 30px;

  @media screen and (max-width: 768px) {
    padding: 0 20px;
  }
}
.brand-logo {
  width: 180px;
}
.search-bar-wrapper {
  position: relative;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 45%;
  flex: 0 0 45%;
  -webkit-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s;

  @media screen and (max-width: 768px) {
    position: absolute;
    width: calc(#{$sidebar_sm_width} - 50px);
    top: 15px;
    left: 25px;
    z-index: 10;
    -webkit-transform: translateX(-120%);
    -ms-transform: translateX(-120%);
    transform: translateX(-120%);

    &:before {
      content: '';
      position: fixed;
      top: -15px;
      left: 0;
      display: block;
      height: 50px;
      width: 100%;
      background-color: #F4F7F9;
      z-index: -1;
    }
  }
}
.search-bar {
  width: 100%;
  padding: 5px 5px 5px 40px;
  background-image: url('../assets/search.svg');
  background-position: 14px center;
  background-size: 18px;
  background-repeat: no-repeat;
  border: 1px solid #333;
  border-radius: 25px;
  outline: none;
}
.btns-wrapper {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 20%;
  flex: 0 0 20%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s;

  @media screen and (max-width: 768px) {
    padding: 0 25px 15px 25px;
    position: fixed;
    left: 0;
    bottom: 0;
    z-index: 10;
    width: $sidebar_sm_width;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    background-color: #F4F7F9;
    border-right: 2px solid #e8e8e8;
    -webkit-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    transform: translateX(-100%);
  }
  .sys-btn:last-of-type {
    margin-left: 20px;
  }
}
.sidebar-opened {
  .search-bar-wrapper,
  .btns-wrapper {
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
  }
}
.sys-btn {
  display: inline-block;
  padding: 10px 25px;
  background-color: #2B3F93;
  border: 1px solid transparent;
  border-radius: 5px;
  color: #fff;
  font-size: 16px;
  line-height: 1;
  text-align: center;
  -webkit-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s;

  @media screen and (max-width: 768px) {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 45%;
    flex: 0 0 45%;
  }
  &:hover {
    cursor: pointer;
    background-color: #18286C;
    color: #fff;
  }
}
.input-clear-btn {
  position: absolute;
  right: 10px;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  font-style: normal;
  font-size: 18px;
  cursor: pointer;
  color: #9EA4AD;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s;

  &.visible {
    opacity: 1;
    visibility: visible;
  }
}
</style>
