<template>
  <div class="modal-backdrop">
    <div class="modal-container">
      <div class="modal-content">
        <slot name="header"></slot>

        <div class="modal-footer">
          <slot name="footer"></slot>
          <button class="sys-btn" @click="close()">Close</button>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  export default {
    name: 'Modal',
    methods: {
      close() {
        this.$emit('close')
      }
    }
  }
</script>

<style lang="scss" scoped>
.modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, .1);
  -webkit-backdrop-filter: blur(2px);
  backdrop-filter: blur(2px);
  z-index: 1000;
}
.modal-container {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 45%;
  border-radius: 10px;
  background: #fff;
  -webkit-filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, .16));
  filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, .16));
  z-index: 1001;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -webkit-transition: opacity ease-in-out .3s, -webkit-transform ease-in-out .3s;
  transition: opacity ease-in-out .3s, -webkit-transform ease-in-out .3s;
  -o-transition: opacity ease-in-out .3s, transform ease-in-out .3s;
  transition: opacity ease-in-out .3s, transform ease-in-out .3s;
  transition: opacity ease-in-out .3s, transform ease-in-out .3s, -webkit-transform ease-in-out .3s;
  -webkit-transition: opacity ease-in-out .3s, transform ease-in-out .3s;

  @media screen and (max-width: 768px) {
    width: 90%;
  }
}
.modal-header {
  margin: 0 0 30px 0;
  font-size: 26px;
  text-align: center;

  @media screen and (max-width: 768px) {
    font-size: 20px;
  }
}
.modal-content {
  padding: 20px 30px
}
.modal-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;

  .sys-btn:last-of-type {
    margin-left: 20px;
  }
}
</style>
