<template>
  <main class="shipment-content">
    <div v-if="selectedShipment">
      <h1>{{ selectedShipment.name }}</h1>
      <a class="single-link" :href="'mailto:' + selectedShipment.email">{{ selectedShipment.email }}</a>

      <p class="bays-wrapper">Number of required cargo bays <strong>{{ cargoBays }}</strong></p>

      <p>Cargo boxes</p>
      <input name="boxes" v-model="selectedShipment.boxes" :class="{ 'is-invalid': !isValid}" @keypress="checkKey" type="text" required>
    </div>
  </main>
</template>

<script>
  export default {
    name: 'ShipmentInfo',
    props: {
      shipment: {
        type: Object,
        required: false
      }
    },
    data() {
      return {
        cargoBays: 0,
        isValid: true,
        selectedShipment: this.shipment
      }
    },
    created() {
      this.$watch('shipment', (newVal) => {
        this.selectedShipment = newVal
      }),
      this.$watch('selectedShipment.boxes', (newVal) => {
        if (newVal === null || newVal === undefined) {
          return this.cargoBays = 0
        } else {
          const boxes = newVal.split(',').map(Number)
          this.calcCargoBays(boxes)
        }
      }, {immediate: true})
    },
    mounted() {
      let id = this.$route.params.id
      if (!this.selectedShipment && id) {
        let shipments = JSON.parse(localStorage.getItem('shipments'))

        if (!shipments)
          return

        this.selectedShipment = shipments.find(item => item.id === id)
      }
    },
    updated() {
      document.title = `Cargo planner - ${this.selectedShipment.name}`
    },
    methods: {
      checkKey($event) {
        const allowedKeys = ['0', '1', '2', '3', '4', '5', '6', '7', '8', '9', '.', ',', ' ']
        if (!allowedKeys.includes($event.key)) {
          $event.preventDefault()
        }
      },
      calcCargoBays(boxes) {
        const pattern = new RegExp(/^\s*?\d+(\.\d{1,2})?\s*$/)
        const unitsPerBay = 10

        let isValid = true
        let totalUnits = 0

        boxes.forEach((box) => {
          isValid = isValid && pattern.test(box)
          if (isValid) {
            totalUnits += box
          }
        })

        this.isValid = isValid
        this.cargoBays = Math.ceil(totalUnits / unitsPerBay)
      }
    }
  }
</script>

<style lang="scss" scoped>
.shipment-content {
  padding: 15px 30px;
  font-size: 18px;

  @media screen and (max-width: 768px) {
    padding: 10px 20px;
    font-size: 15px;
  }
  input {
    padding: 5px 10px;
    width: 50%;
    border: 1px solid #ccc;
    border-radius: 3px;
    outline: none;
    -webkit-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;

    &.is-invalid {
      border-color: #E54811;
    }
    @media screen and (max-width: 768px) {
      width: 100%;
    }
  }
  .single-link {
    display: inline-block;
    margin-bottom: 10px;
  }
  .bays-wrapper {
    margin-bottom: 10px;
    font-size: 20px;
  }
}
</style>
