<template>
  <aside class="main-sidebar" :class="{ 'opened': isOpened}">
    <ul class="shipments-list">
      <li v-for="(item, index) in items" :key="index">
        <router-link :to="{ name: 'shipment', params: { id: item.id, shipment: item }}" v-html="$options.filters.highlight(item.name, searchQuery)">{{ item.name }}</router-link>
      </li>
    </ul>
  </aside>
</template>

<script>
  export default {
    name: 'ShipmentsList',
    props: {
      items: {
        type: Array,
        required: true
      },
      searchQuery: String,
      isOpened: Boolean
    }
  }
</script>

<style lang="scss">
@import "@/stylesheets/_variables.scss";

.main-sidebar {
  grid-area: sidebar;
  border-right: 2px solid #e8e8e8;
  overflow: auto;
  z-index: 5;
  -webkit-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s;

  @media screen and (max-width: 768px) {
    position: fixed;
    height: 100%;
    width: $sidebar_sm_width;
    top: 0;
    left: 0;
    background-color: #F4F7F9;
    -webkit-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    transform: translateX(-100%);

    &.opened {
      -webkit-transform: translateX(0);
      -ms-transform: translateX(0);
      transform: translateX(0);
    }
  }
}
.shipments-list {
  padding: 20px 25px;
  margin: 0;
  list-style: none;

  @media screen and (max-width: 768px) {
    padding-top: 60px;
  }
  li {
    margin-bottom: 5px;
    letter-spacing: .5px
  }
  a {
    color: #333;
  }
  .router-link-active {
    color: #18286C;
    font-weight: bolder;
  }
}
</style>
