<template>
  <div id="app" :class="{ 'sidebar-opened': isOpened}">
    <preloader v-if="isLoading"></preloader>
    <main-header :searchQuery.sync="searchQuery" @load="loadShipments()" @save="saveShipments()" @toggleSidebar="toggleSidebar()"></main-header>

    <div class="main-wrapper">
      <shipments-list :items="filteredShipments" :searchQuery="searchQuery" :isOpened="isOpened"></shipments-list>
      <router-view></router-view>
    </div>

    <modal v-show="modalIsVisible" @close="closeModal()">
      <template v-slot:header>
        <h2 class="modal-header">There is no available locally saved shipments. Would you like to load sample data?</h2>
      </template>
      <template v-slot:footer>
        <button class="sys-btn" @click="loadShipments()">Yes</button>
      </template>
    </modal>

    <div class="toasts-wrapper"></div>
  </div>
</template>

<script>
  import MainHeader from './components/MainHeader.vue'
  import ShipmentsList from './components/ShipmentsList.vue'
  import Modal from './components/Modal.vue'
  import Preloader from './components/Preloader.vue'

  export default {
    name: 'App',
    components: {
      MainHeader,
      ShipmentsList,
      Modal,
      Preloader
    },
    data() {
      return {
        searchQuery: null,
        modalIsVisible: false,
        isLoading: false,
        isOpened: false,
        shipments: []
      }
    },
    mounted() {
      if (this.$localStorage.get('shipments')) {
        try {
          this.shipments = JSON.parse(this.$localStorage.get('shipments'))
        } catch {
          this.$localStorage.remove('shipments')
        }
      } else {
        this.showModal()
      }
    },
    methods: {
      loadShipments() {
        const shipmentsEndpoint = 'https://bitbucket.org/artur_cation/spacex-cargo-planner/raw/1a9e1c0ff090a114999c47b7e9388fbc88bd083b/shipments.json'
        this.isLoading = true

        this.axios.get(shipmentsEndpoint).then(res => {
          this.shipments = res.data
          this.$localStorage.set('shipments', JSON.stringify(this.shipments))

          this.closeModal()
          this.isLoading = false

          this.$router.push({path: '/'})

          this.$toast('Loaded successfully', {
            parent: '.toasts-wrapper',
            className: ['toast-item', 'success'],
            horizontalPosition: 'right',
            verticalPosition: 'bottom',
            mode: 'queue'
          })
        }).catch(() => {
          this.closeModal()
          this.isLoading = false

          this.$toast('Error. Please try again later', {
            parent: '.toasts-wrapper',
            className: ['toast-item', 'error'],
            horizontalPosition: 'right',
            verticalPosition: 'bottom',
            mode: 'queue'
          })
        })
      },
      saveShipments() {
        this.$localStorage.set('shipments', JSON.stringify(this.shipments))

        this.$toast('Saved', {
          parent: '.toasts-wrapper',
          className: ['toast-item', 'success'],
          horizontalPosition: 'right',
          verticalPosition: 'bottom',
          mode: 'queue'
        })
      },
      showModal() {
        this.modalIsVisible = true
      },
      closeModal() {
        this.modalIsVisible = false
      },
      toggleSidebar() {
        this.isOpened = !this.isOpened
      }
    },
    computed: {
      filteredShipments() {
        if (this.searchQuery && this.searchQuery != '') {
          return this.shipments.filter(item => item.name.toLowerCase().includes(this.searchQuery.toLowerCase()))
        } else {
          return this.shipments
        }
      }
    }
  }
</script>

<style lang="scss">
@import "@/stylesheets/_variables.scss";

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
html {
  position: relative;
  min-height: 100%;
  max-width: 100%;
  overflow-x: hidden;
}
body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  min-height: 100vh;
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  color: #2c3e50;
}
main {
  -ms-flex: 1;
  -webkit-box-flex: 1;
  flex: 1;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
input,
button,
textarea,
select {
  font: inherit;
}
a {
  color: rgba(43, 63, 147, .9);
  text-decoration: none;

  &:hover {
    color: #18286C;
  }
}
.main-wrapper {
  height: calc(100vh - #{$header_height});
  display: -ms-grid;
  display: grid;
  grid-template-areas: "sidebar content";
  -ms-grid-columns: $sidebar_width 1fr;
  grid-template-columns: $sidebar_width 1fr;

  @media screen and (max-width: 768px) {
    height: auto;
    -ms-grid-columns: $sidebar_width 1fr;
    grid-template-columns: 1fr;
  }
}
.toast-item {
  margin: 15px 20px;
  padding: 20px;
  width: 25%;
  background-color: #E6FBF5;
  overflow: hidden;
  border-radius: 5px;
  -webkit-box-shadow: 0px 1px 3px #00000029;
  box-shadow: 0px 1px 3px #00000029;
  color: #000;

  &.success {
    background-color: #E6FBF5;
  }
  &.error {
    background-color: #FB927F;
  }
}
.highlighter {
  background-color: #FFBE00;
  border-radius: 2px;
}
</style>
